.activity-box {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 5px 5px 30px #000000;
    -webkit-box-shadow: 0px 1px 9px #000000;
    -moz-box-shadow: 0px 1px 9px #000000;
    box-shadow: 0px 1px 9px #000000;
    font-family: Arial;
    color: #E7DECC;
    background: #202020;
    padding: 10px 20px 10px 20px;
    border: solid #000000 5px;
    width: 80%;
    height: fit-content;
    margin: auto;
}

.activity-name {
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.activity-text {
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}

.activity-btn {
    font-family: sans-serif;
    font-weight: 0;
    font-size: 14px;
    color: #E7DECC;
    background: linear-gradient(177deg, #42b7ff 0%, #0096c7 100%);
    padding: 10px 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 250ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    width: fit-content;
    height: 20px;
    margin: auto;
    transition: box-shadow .15s, transform .15s;
}
  
.activity-btn:hover {
    background: linear-gradient(177deg, #0096c7 0%, #42b7ff 100%);
    transform: translateY(-5px);
    text-decoration: none;
    cursor: pointer;
}

.activity-btn:active {
    transform: translateY(5px);
}

.activity-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.activity-container > div {
    background-color: #202020;
    border: 5px solid #000000;
    border-radius: 50px;
    color: #E7DECC;
    text-align: center;
}

.activity-explanation {
    width: 35%;
    height: auto;
    padding: 30px;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.activity-img {
    padding: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
}

.gene {
    background-image: url("../Images/activities-gene.jpg");
}

.dna {
    background-image: url("../Images/activities-dna.jpg");
}

@media only screen and (max-width: 740px) {
    .activity-container {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

    .activity-explanation, .activity-img {
        width: 98%;
        height: 300px;
    }

    .activity-explanation {
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}