.activity-box {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 5px 5px 30px #000000;
    -webkit-box-shadow: 0px 1px 9px #000000;
    -moz-box-shadow: 0px 1px 9px #000000;
    box-shadow: 0px 1px 9px #000000;
    font-family: Arial;
    color: #f7f7f7;
    background: #202020;
    padding: 10px 20px 10px 20px;
    border: solid #000000 5px;
    width: 80%;
    height: fit-content;
    margin: auto;
}

.activity-name {
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.activity-text {
    font-family: Georgia, serif;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}

.activity-btn {
    background: #00a6ff;
    background-image: -webkit-linear-gradient(top, #00a6ff, #0068a8);
    background-image: -moz-linear-gradient(top, #00a6ff, #0068a8);
    background-image: -ms-linear-gradient(top, #00a6ff, #0068a8);
    background-image: -o-linear-gradient(top, #00a6ff, #0068a8);
    background-image: linear-gradient(to bottom, #00a6ff, #0068a8);
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    text-shadow: 2px 2px 9px #000000;
    -webkit-box-shadow: 1px 1px 10px #000000;
    -moz-box-shadow: 1px 1px 10px #000000;
    box-shadow: 1px 1px 10px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #000000 3px;
    text-decoration: none;
    width: 150px;
    height: 20px;
    margin: auto;
    transition: box-shadow .15s, transform .15s;
}
  
.activity-btn:hover {
    background: #0068a8;
    background-image: -webkit-linear-gradient(top, #0068a8, #00a6ff);
    background-image: -moz-linear-gradient(top, #0068a8, #00a6ff);
    background-image: -ms-linear-gradient(top, #0068a8, #00a6ff);
    background-image: -o-linear-gradient(top, #0068a8, #00a6ff);
    background-image: linear-gradient(to bottom, #0068a8, #00a6ff);
    transform: translateY(-5px);
    text-decoration: none;
    cursor: pointer;
}

.activity-btn:active {
    transform: translateY(5px);
}