.image-container {
    position: relative;
}

.image-container > a {
    position: relative;
}

.cell-image {
    margin: auto;
    width: 70vw;
    display: block;
    position: relative;
    left: 0;
    right: 0;
}

.radio-button {
    width: 1vw;
    height: 1vw;
    border-radius: 50px;
    background-color: antiquewhite;
    position: absolute;
    z-index: 1;
    border: 2px solid black;
}

.radio-button:hover {
    background-color: gray;
    cursor: pointer;
}

.activity-type-selector {
    display: inline-block;
}

.activity-type-selector-item {
    border: 2px solid gray;
    width: fit-content;
    color: white;
    padding: 5px 10px;
    float: left;
}

.activity-type-selector-item:hover {
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}

.activity-type-selector-item-active {
    background-color: rgb(62, 62, 62);
}