* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.nav-item-left {
    float: left;
}

.nav-item-right {
    float: right;
}

.nav-item-left:hover, .nav-item-right:hover {
    background-color: #111112;
    -webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}

.nav-title {
    font-family: Georgia, serif;
    font-size: 15px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.nav-text {
    font-family: Georgia, serif;
    font-size: 15px;
    color: #000000;
    text-decoration: none;
    font-style: normal;
    text-transform: none;
}

.nav-item-left a, .nav-item-right a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-color: #111112;
}