.center {
    text-align: center;
    overflow-x: visible;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    min-width: 400px;
}

br {
    visibility: hidden;
}

.activity-title {
    color: white;
    font-size: xx-large;
    text-align: center;
}